extends layout


block main
  form(action="/new" method="post")
    dl
      dt
        label(for="gameTitle") Enter the title for your new game:
      dd
        input(type="text"
              id="gameTitle"
              name="gameTitle"
              placeholder="Game Title"
              value=gameTitle)

      dt
        label(for="playerStartingAmount") How much money do you want to start with:
      dd
        input(type="number"
              id="playerStartingAmount"
              name="playerStartingAmount"
              placeholder="10"
              value=playerStartingAmount)

    fieldset.actions
      input(type="submit" value="Save")
      a(href="/") Cancel
