extends layout

block main
  h1 Your turn!
  p #{game.player.logWinnings()}
  p #{game.player.logBetSize()}

  p &nbsp
  p #{game.player.displayFullHand()}
  p &nbsp
  p #{game.dealer.displayHiddenHand()}
  p &nbsp
  h4 #{game.player.displayHandTotal()}


  form(action=`/${game.id}/hit` method="post")
    fieldset.actions
      button Hit
      button(formaction=`/${game.id}/stay`) Stay

block headerLinks
  .actions
    a(href=`/${game.id}`) "#{game.title}" Home

//- // choose button whether to hit or stay
//- // if hit, refresh and log new cards
//- // if stay, check if busted 
//- // if busted redirect to /end-game
//- // if not busted, go to dealer move

