extends layout

block main
  h1 Your turn!
  p #{game.player.logWinnings()}
  p #{game.player.logBetSize()}

  section#cards
    br
    h3 You:
    for card in game.player.getHand()
      -let link = `${card.getTitle().split(" ").join("_").toLowerCase()}.png`
      img(src=`/images/PNG-cards-1.3/${link}`)

    h3 Dealer:
    for card in game.dealer.getHiddenHand()
      -let link = `${card.getTitle().split(" ").join("_").toLowerCase()}.png`
      img(src=`/images/PNG-cards-1.3/${link}`)

  br
  h4 #{game.player.displayHandTotal()}

  form(action=`/${game.id}/hit` method="post")
    fieldset.actions
      button Hit
      button(formaction=`/${game.id}/stay`) Stay

block headerLinks
  .actions
    a(href=`/${game.id}`) "#{game.title}" Home
