extends game-home

block results
  h1 RESULTS: 
  h1 #{game.displayResults()}
  br

  if moves.length > 0
    p Dealer #{moves.join(", then ")}
    br

  h4 #{game.player.displayHandTotal()}
  h4 #{game.dealer.displayHandTotal()}

  section#cards
    br
    h3 You:
    for card in game.player.getHand()
      -let link = `${card.getTitle().split(" ").join("_").toLowerCase()}.png`
      img(src=`/images/PNG-cards-1.3/${link}`)

    h3 Dealer:
    for card in game.dealer.getHand()
      -let link = `${card.getTitle().split(" ").join("_").toLowerCase()}.png`
      img(src=`/images/PNG-cards-1.3/${link}`)
  
  br
