extend layout

block main
  section#tests
    header
      h2 Editing '#{student.name}'
      ul
        li
          form.delete(action=`/students/${student.id}/destroy` method="post")
            button.delete(type="submit") Delete Student

  form(action=`/students/${student.id}/edit` method="post")
    dl
      dt
        label(for="studentName") Enter the new name for the student:
      dd
        input(type="text"
              name="studentName"
              placeholder="Student Name"
              value=studentName || student.name)

      dt
        p Enter a new baseline for the student:
        dd
          label(for="baselineV") Verbal
          input(type="number"
                id="baselineV"
                name="baselineV"
                placeholder=500
                value=baselineV || student.baseline[0])

        dd
          label(for="studentBaselineMath") Math
          input(type="number"
                id="studentBaselineMath"
                name="studentBaselineMath"
                placeholder=500
                value=studentBaselineMath || student.baseline[1])

    fieldset.actions
      input(type="submit" value="Save")
      a(href=`/students/${student.id}`) Cancel
