extend layout

block main
  section#tests
    header
      h2 Editing '#{student.name}'
      ul
        li
          form.delete(action=`/students/${student.id}/destroy` method="post")
            button.delete(type="submit") Delete Student

  form(action=`/students/${student.id}/edit` method="post")
    dl
      dt
        h2 Enter new name for student:
      dd
        input(type="text"
              id="studentName"
              name="studentName"
              placeholder="Student Name"
              value=studentName || student.name)

      br

      dt
        h2 Enter new baseline:
      dd
        label(for="SATVerbal") SAT: 
        input(type="number"
              id="SATVerbal"
              name="SATVerbal"
              placeholder="Verbal"
              value=SATVerbal || (student.getBaseline().getScore().verbal || null))

        label(for="SATMath") /
        input(type="number"
              id="SATMath"
              name="SATMath"
              placeholder="Math"
              value=SATMath || (student.getBaseline().getScore().math || null))

      dd
        label(for="ACTEnglish") ACT: 
        input(type="number"
              id="ACTEnglish"
              name="ACTEnglish"
              placeholder="English"
              value=ACTEnglish || (student.getBaseline().getScore().english || null))

        label(for="ACTMath") /
        input(type="number"
              id="ACTMath"
              name="ACTMath"
              placeholder="Math"
              value=ACTMath || (student.getBaseline().getScore().ACTMath || null))

        label(for="ACTReading") /
        input(type="number"
              id="ACTReading"
              name="ACTReading"
              placeholder="Reading"
              value=ACTReading || (student.getBaseline().getScore().reading || null))

        label(for="ACTScience") /
        input(type="number"
              id="ACTScience"
              name="ACTScience"
              placeholder="Science"
              value=ACTScience || (student.getBaseline().getScore().science || null))

      br
      dt
        h2 Enter new test plan:
      dd
        label(for="SAT") SAT 
        input(type="radio"
              id="SAT"
              name="testPlan"
              value="SAT"
              checked=student.testPlan === "SAT"
              required=true)

      dd
        label(for="ACT") ACT
        input(type="radio"
              id="ACT"
              name="testPlan"
              value="ACT"
              checked=student.testPlan === "ACT"
              required=true)
      br


    fieldset.actions
      input(type="submit" value="Save")
      a(href=`/students/${student.id}`) Cancel
