extends layout

block main
  form(action="/students" method="post")
    dl
      dt
        label(for="studentName") Enter your student's name:
      dd
        input(type="text"
              id="studentName"
              name="studentName"
              placeholder="Student Name"
              value=studentName)

      br
      p Enter your student's baseline score:
      dt
        dd
          label(for="baselineV") Verbal
          input(type="number"
                id="baselineV"
                name="baselineV"
                placeholder=500
                value=baselineV || 500)

        dd
          label(for="baselineM") Math
          input(type="number"
                id="baselineM"
                name="baselineM"
                placeholder=500
                value=baselineM || 500)

      br
      p Enter your student's test plan:
      dt
        dd
          label(for="SAT") SAT 
          input(type="radio" id="SAT" name="testPlan" value="SAT" required=true)
          label(for="ACT") ACT
          input(type="radio" id="ACT" name="testPlan" value="ACT" required=true)


    fieldset.actions
      input(type="submit" value="Save")
      a(href="/students") Cancel
