extends layout

block main
  if students === undefined || students.length === 0
    p#no_list You don't have any students. Why not create one?
  else
    section#students
      ul
        each student in students
          li
            a(href=`/students/${student.id}`)
              h2= student.name
            p #{student.allDone().length} / #{student.size()} completed
            //- - let recentTest = student.mostRecentCompleted()
            //- if !!recentTest && !!recentTest.getScore()
            //-   p #{recentTest.getTitle()}: #{recentTest.getScore().toString()}
            p Baseline: #{student.baseline.getScore().toString()}

            form.delete(action=`/students/${student.id}/destroy` method="post")
              button Delete
           

block headerLinks
  .actions
    a.add(href="/students/new") New Student
